{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_services = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-services-ordered-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_services = 'felicitails-account-center-services-ordered-founded-by-lindsay-giguiere' %}

{% assign img_account_center_services_emotional_support = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-founded-by-lindsay-giguiere-account-center-services-emotional-support-animal-assisting-family.png?v=1685640384' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>Services</h1>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_services }}"
          alt="{{ alt_account_center_services }}"
        >
      </div>
    </div>
    <div class="filter_buttons">
      <div class="filter_button active height-fill">
        <span>Emotional Support Animal</span>
      </div>
      <div class="filter_button height-fill">
        <span>Psychiatric Service Dog</span>
      </div>
      <div class="filter_button height-fill">
        <span>Registration Lookup</span>
      </div>
    </div>
    <div class="service-body width-fill">
      <img
        src="{{ img_account_center_services_emotional_support }}"
        alt="{{ alt_text }}"
      >
      <div class="width-fill">
        <h4 class="width-fill">Emotional Support Animal</h4>
        <div class="service-infos width-fill">
          <div class="service-info-item width-fill">
            <p class="">Owner's Name:</p>
            <p class="width-fill">Lorem Ipsum</p>
          </div>
          <div class="service-info-item width-fill">
            <p class="">ESA’s Name:</p>
            <p class="width-fill">Lorem Ipsum</p>
          </div>
          <div class="service-info-item width-fill">
            <p class="">Registration Number:</p>
            <p class="width-fill">Lorem Ipsum</p>
          </div>
          <div class="service-info-item width-fill">
            <p class="">ESA Renewal Date:</p>
            <p class="width-fill">Lorem Ipsum</p>
          </div>
          <div class="service-info-item width-fill">
            <p class="">View Document Vault:</p>
            <p class="width-fill">Lorem Ipsum</p>
          </div>
        </div>
        <div class="width-fill">
          <button>UPDATE PAYMENT METHOD</button>
        </div>
      </div>
    </div>
  </div>
</div>
