<div class="account-main-body">
  <div class="account-main-items">
    <div class="wallet_store width-fill">
      <div class="width-fill gift-card-out">
        <div class="gift-card width-fill">
          <div class="width-fill height-fill">
            <div class="ballance-card">
              <h1 class="header width-fill">Your gift card balance</h1>
              <h1 class="price width-fill">$0.00</h1>
              <div class="button-group width-fill">
                <button>Reload your balance</button>
                <button class="inactive">Redeem a gift card</button>
              </div>
            </div>
            <div class="line-h"></div>
            <div class="card-auto-reload">
              <div class="header width-fill">
                <h4>Your auto-reload setting</h4>
              </div>
              <div class="width-fill body">
                <p>Auto-Reload on a schedule or when your balance gets low.</p>
              </div>
              <div class="width-fill footer">
                <a href="#">Set up Auto-Reload</a>
              </div>
            </div>
          </div>
        </div>
        <div class="gift-activity-data width-fill">
          <div class="header width-fill">
            <h4>Gift card activity</h4>
            <div class="line-w"></div>
          </div>
          <div class="width-fill table">
            <table>
              <tr>
                <th>Order Placed</th>
                <th>Total Amount</th>
                <th>Shipped To</th>
                <th>Order Number</th>
              </tr>
              <tr>
                <td colspan="4">You have no gift card activity</td>
              </tr>
            </table>
          </div>
          <p class="width-fill">
            Your balance will never expire. We'll automatically apply your Gift Card Balance to eligible orders when you
            checkout. If you would rather not use your balance, you can deselect it in the Payment Selection step of
            checkout. Limitations: Your Gift Card Balance cannot be transferred to other accounts. See the Felicitails
            Gift Card Terms and Conditions for further information.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
