<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-address-body width-fill">
      <div class="profile-information">
        <div class="information-group">
          <h1>Edit your address</h1>
        </div>
        <div class="information-group information-title">
          <div class="width-fill item-other">
            <label for="info-title" class="width-fill info-label">Title</label>
            <div class="width-fill select info-input">
              <select name="title" id="info-title" class="width-fill">
                <option value="mrs">Mrs</option>
                <option value="mr">Mr</option>
              </select>
            </div>
          </div>
        </div>
        <div class="information-group">
          <div class="width-fill item-other">
            <label for="info-first-name" class="width-fill info-label">First Name</label>
            <input
              type="text"
              name="first-name"
              id="info-first-name"
              class="width-fill info-input"
            >
          </div>
          <div class="width-fill item-other">
            <label for="info-last-name" class="width-fill info-label">Last Name</label>
            <input
              type="text"
              name="last-name"
              id="info-last-name"
              class="width-fill info-input"
            >
          </div>
        </div>
        <div class="information-group">
          <div class="width-fill item-other">
            <label for="info-address1" class="width-fill info-label">Address 1</label>
            <input
              type="text"
              name="address1"
              id="info-address1"
              class="width-fill info-input"
            >
          </div>
          <div class="width-fill item-other">
            <label for="info-address2" class="width-fill info-label">Address 2</label>
            <input
              type="text"
              name="address2"
              id="info-address2"
              class="width-fill info-input"
            >
          </div>
        </div>
        <div class="information-group">
          <div class="width-fill item-other">
            <label for="info-city" class="width-fill info-label">City</label>
            <input
              type="text"
              name="city"
              id="info-city"
              class="width-fill info-input"
            >
          </div>
          <div class="width-fill item-other">
            <label for="info-state" class="width-fill info-label">State</label>
            <div class="width-fill select info-input">
              <select name="state" id="info-state" class="width-fill">
                <option value="0">State</option>
                <option value="1">Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sup</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
              </select>
            </div>
          </div>
        </div>

        <div class="information-group">
          <div class="width-fill item-other">
            <label for="info-zip-code" class="width-fill info-label">ZIP Code</label>
            <input
              type="text"
              name="zip-code"
              id="info-zip-code"
              class="width-fill info-input"
            >
          </div>
          <div class="width-fill item-other">
            <label for="info-contact-number" class="width-fill info-label">Contact Number</label>
            <input
              type="phone"
              name="contact-number"
              id="info-contact-number"
              class="width-fill info-input"
            >
          </div>
        </div>
        <div class="information-group">
          <div class="width-fill item-other item-policy">
            <input
              type="checkbox"
              name="policy"
              id="info-policy"
              class="check"
            >
            <label for="info-policy" class="width-fill info-label">Make this my Default Shipping Address</label>
            <label for="info-policy"></label>
          </div>
        </div>
        <div class="width-fill">
          <button class="submit">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
