<div class="account-main-body">
  <div class="account-main-items">
    <div class="profile-information">
      <div class="profile-edit width-fill">
        <div class="header width-fill">
          <h1>Edit email</h1>
          <button>Cancel</button>
        </div>
        <div class="mainbody width-fill">
          <div class="width-fill edit-info-item">
            <label for="new-email" class="width-fill">New Email</label>
            <input
              type="text"
              name="email"
              id="new-email"
              class="width-fill"
            >
          </div>
          <div class="width-fill edit-info-item">
            <label for="new-email1" class="width-fill">Re-Enter New Email</label>
            <input type="text" id="new-email1" class="width-fill">
          </div>
          <div class="width-fill edit-info-item">
            <label for="verify-password" class="width-fill">Verify Password</label>
            <input
              type="text"
              name="email"
              id="verify-password"
              class="width-fill"
            >
          </div>
        </div>
        <div class="footer width-fill">
          <button>Update Email</button>
        </div>
      </div>
    </div>
  </div>
</div>
