{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_subscriptions = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-subscriptions-ordered-founded-by-lindsay-giguiere-overlay.png?v=1685640384' %}
{% assign alt_account_center_subscriptions = 'felicitails-account-center-subscriptions-ordered-founded-by-lindsay-giguiere-overlay' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <p>Subscriptions</p>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_subscriptions }}"
          alt="{{ alt_account_center_subscriptions }}"
        >
      </div>
    </div>
    <div class="account-subscriptions-body width-fill">
      <div class="content width-fill">
        <div class="account-cards width-fill">
          <div class="account-card add">
            <div class="add-address">
              <span class="add">+</span>
              <h4 class="text">Add item</h4>
            </div>
          </div>
          <div class="account-card">
            <div class="width-fill height-fill card-content">
              <div class="card-header">
                <img src="./asset/product1.jpg" alt="{{ alt_text }}">
              </div>
              <div class="card-body">
                <div class="header">Product Name</div>
                <div class="body">
                  <p>$50</p>
                  <p>1 unit every 1 month</p>
                  <p>May 28</p>
                </div>
              </div>
              <div class="card-footer">
                <p class="width-fill"><a href="#">Edit</a> | <a href="#">Cancel</a></p>
              </div>
            </div>
          </div>
          <div class="account-card">
            <div class="width-fill height-fill card-content">
              <div class="card-header">
                <img src="./asset/product2.jpg" alt="{{ alt_text }}">
              </div>
              <div class="card-body">
                <div class="header">Product Name</div>
                <div class="body">
                  <p>$50</p>
                  <p>1 unit every 1 month</p>
                  <p>May 28</p>
                </div>
              </div>
              <div class="width-fill card-footer">
                <p class="width-fill"><a href="#">Edit</a> | <a href="#">Cancel</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
