{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_customer_service = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-customer-support-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_customer_service = 'felicitails-account-center-customer-support-founded-by-lindsay-giguiere' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>Customer Service</h1>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_customer_service }}"
          alt="{{ alt_account_center_customer_service }}"
        >
      </div>
    </div>
    <div class="account-customer-service-body width-fill">
      <div class="content width-fill">
        <div class="conversation width-fill">
          <div class="header width-fill">
            <h4>LET’S START A CONVERSATION</h4>
            <div class="line-w"></div>
          </div>
          <p>To Best Support You All Fields Are Required</p>
          <div class="content width-fill">
            <div class="input-group width-fill">
              <div class="item-other width-fill">
                <label for="sv-first-name" class="width-fill">First Name</label>
                <input
                  type="text"
                  name="sv-first-name"
                  id="sv-first-name"
                  class="width-fill"
                >
              </div>
              <div class="item-other width-fill">
                <label for="sv-last-name" class="width-fill">Last Name</label>
                <input
                  type="text"
                  name="sv-last-name"
                  id="sv-last-name"
                  class="width-fill"
                >
              </div>
              <div class="item-other width-fill" class="width-fill">
                <label for="sv-company-name" class="width-fill">Company Name (type in N/A if personal)</label>
                <input
                  type="text"
                  name="sv-company-name"
                  id="sv-company-name"
                  class="width-fill"
                >
              </div>
              <div class="item-other width-fill">
                <label for="sv-email" class="width-fill">Email</label>
                <input
                  type="text"
                  name="sv-email"
                  id="sv-email"
                  class="width-fill"
                >
              </div>
              <div class="item-other width-fill">
                <label for="sv-country" class="width-fill">Country</label>
                <input
                  type="text"
                  name="sv-country"
                  class="width-fill"
                  id="sv-country"
                >
              </div>
            </div>
            <div class="input-comment width-fill">
              <div class="item-other width-fill">
                <label for="comment" class="width-fill">Comments</label>
                <textarea
                  name="comment"
                  id="comment"
                  cols="30"
                  rows="11"
                  class="width-fill"
                ></textarea>
              </div>
              <div class="width-fill">
                <img
                  src="./asset/recaptcha.jpg"
                  alt="{{ alt_text }}"
                  class="recaptcha"
                >
              </div>
              <div class="width-fill">
                <button>SEND MESSAGE</button>
              </div>
            </div>
          </div>
        </div>
        <div class="point-of-contact width-fill">
          <div class="header width-fill">
            <h4>POINTS OF CONTACT</h4>
            <div class="line-w"></div>
          </div>
          <div class="body width-fill">
            <img src="./asset/map.jpg" alt="{{ alt_text }}" class="map">
            <div class="width-fill">
              <div>
                <p>Support Email</p>
                <a href="#">mailto:support@felicitails.com</a>
              </div>
              <div>
                <p>Collaborations & Media Inquires Email</p>
                <a href="#">mailto:info@felicitails.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
