<div class="account-main-body">
  <div class="account-main-items">
    <div class="wallet_store width-fill">
      <div class="width-fill gift-card-out">
        <div class="profile-edit width-fill">
          <div class="header width-fill">
            <h1>Redeem a gift card</h1>
            <button>Cancel</button>
          </div>
          <div class="edit-info-item width-fill">
            <label for="claim-code width-fill">Enter claim code</label>
            <input
              type="text"
              name="claim-doce"
              id="claim-code"
              class="width-fill"
            >
          </div>
          <p class="width-fill">Current Gift Balance: <b>$0.00</b></p>
          <div class="button-group width-fill">
            <button>Apply to your balance</button>
            <button class="inactive">View Balance history</button>
          </div>
          <div class="width-fill account-section">
            <p>
              Once applied to your Felicitails account, the entire gift card amount will be added to your gift card
              balance. Your gift card balance, including Felicitails Reload, does not expire and can’t be transferred to
              other accounts, used to buy other gift cards, or, as required by law, redeemed for cash. If you recently
              paid for part of a purchase using a Gift Card, and that item has not yet shipped, then any new funds added
              to your Gift Card balance up to the full purchase amount will be applied to that order once it’s shipped.
              Review <a>terms and conditions.</a>
            </p>
          </div>
          <div class="width-fill account-section">
            <p>
              If you are having issues redeeming your gift card, please contact us at:
              <a>support@felicitails.com.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
