{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_services = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-services-ordered-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_services = 'felicitails-account-center-services-ordered-founded-by-lindsay-giguiere' %}

{% assign img_account_center_services_on_page = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-founded-by-lindsay-giguiere-account-center-services-on-page.png?v=1685640384' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>Services</h1>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_services }}"
          alt="{{ alt_account_center_services }}"
        >
      </div>
    </div>
    <div class="service-body width-fill">
      <img
        src="{{ img_account_center_services_on_page }}"
        alt="{{ alt_text }}"
      >
      <div class="width-fill">
        <h4 class="width-fill">Oh No! You haven’t purchased any of our services yet.</h4>
        <p class="width-fill">
          We offer the following for you to take your relationship with your Furry Companion to the next level!
        </p>
        <div class="service-lists width-fill">
          <div class="service-list-item width-fill">
            <p class="width-fill">Emotional Support Animal Therapist Certification</p>
            <button>View</button>
          </div>
          <div class="service-list-item width-fill">
            <p class="width-fill">Psychiatric Service Dog Animal Therapist Certification</p>
            <button>View</button>
          </div>
          <div class="service-list-item width-fill">
            <p class="width-fill">Vaccination Papers Vault</p>
            <button>View</button>
          </div>
          <div class="service-list-item width-fill">
            <p class="width-fill">Ask A Vet</p>
            <button>View</button>
          </div>
          <div class="service-list-item width-fill">
            <p class="width-fill">Adopt a Dog</p>
            <button>View</button>
          </div>
          <div class="service-list-item width-fill">
            <p class="width-fill">Dog Sitting</p>
            <button>View</button>
          </div>
          <div class="service-list-item width-fill">
            <p class="width-fill">Pet Insurance Plans</p>
            <button>View</button>
          </div>
          <div class="service-list-item width-fill">
            <p class="width-fill">Pet Wellness Plans</p>
            <button>View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
