<div class="account-main-body">
  <div class="account-main-items">
    <div class="profile-information">
      <div class="profile-edit width-fill">
        <div class="header width-fill">
          <h1>Edit Password</h1>
          <button>Cancel</button>
        </div>
        <div class="mainbody width-fill">
          <div class="width-fill edit-info-item">
            <label for="current-password" class="width-fill">Current Password</label>
            <input
              type="text"
              name="current_password"
              id="current-password"
              class="width-fill"
            >
          </div>
          <div class="width-fill edit-info-item">
            <label for="new-password" class="width-fill">New Password</label>
            <input
              type="text"
              name="new_password"
              id="new-password"
              class="width-fill"
            >
          </div>
          <div class="width-fill check-password">
            <div class="header">For Your Protection, Your Password Is To:</div>
            <ul class="mainbody width-fill">
              <li>Have a minimum of 8 characters</li>
              <li>Have 1 lower case letter</li>
              <li>Have 1 Upper Case Letter</li>
              <li>Have 1 special character like #</li>
              <li>Have 1 number</li>
              <li>Not be your email</li>
            </ul>
          </div>
          <div class="width-fill edit-info-item">
            <label for="new-password-1" class="width-fill">Re-Enter New Password</label>
            <input type="text" id="new-password-1" class="width-fill">
          </div>
        </div>
        <div class="footer width-fill">
          <button>Update Password</button>
        </div>
      </div>
    </div>
  </div>
</div>
