{% assign alt_text = 'felicitails account center, emotional support animal certification, psychiatric service animal certification,  dog and cat training, pet insurance, dog walking, pet sitting, dog boarding, dog dna testing, curated supplies and products, felicitails and free my paws founder lindsay giguiere ' %}

{% assign img_account_center_orders = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-order-management-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_orders = 'felicitails-account-center-order-management-founded-by-lindsay-giguiere' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>Orders</h1>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_orders }}"
          alt="{{ alt_account_center_orders }}"
        >
      </div>
    </div>
    <div class="account-orders-body width-fill">
      <div class="content width-fill">
        <div class="button-group width-fill">
          <button class="width-fill">Orders</button>
          <button class="width-fill inactive">Canceled Orders</button>
        </div>
        <div class="order-counts">
          <p><b>2 orders</b> placed in</p>
          <select name="order-day" id="order-day">
            <option value="1">Last 30 days</option>
            <option value="1">Last 30 days</option>
            <option value="1">Last 30 days</option>
          </select>
        </div>
        <div class="order-list width-fill">
          <div class="order-item width-fill">
            <div class="table width-fill">
              <div class="tr header width-fill">
                <div class="th width-fill">
                  <p>Order Placed</p>
                  <p>March 15, 2023</p>
                </div>
                <div class="th width-fill">
                  <p>Total Amount</p>
                  <p>$150</p>
                </div>
                <div class="th width-fill">
                  <p>Shipped To</p>
                  <p>Lindsay Giguere</p>
                </div>
                <div class="th width-fill">
                  <p>Order Number</p>
                  <p>#113-256-569-896</p>
                </div>
              </div>
              <div class="tr width-fill">
                <div class="td" colspan="4">
                  <div class="order-content width-fill">
                    <div>
                      <img src="./asset/product3.jpg" alt="{{ alt_text }}">
                      <div class="width-fill">
                        <p style="display: flex"><i>Status:</i> In Transit, Estimated Arrival Date March 20, 2023</p>
                        <p>Washable Othopedic Dog Bed, Waterproof with Nonskid Buttom</p>
                      </div>
                    </div>
                    <div class="button-group width-fill">
                      <button class="width-fill">Buy It Again</button>
                      <button class="inactive width-fill">Return Item</button>
                      <button class="inactive width-fill">Write a Product Review</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="order-item width-fill">
            <div class="table width-fill">
              <div class="tr header width-fill">
                <div class="th width-fill">
                  <p>Order Placed</p>
                  <p>March 15, 2023</p>
                </div>
                <div class="th width-fill">
                  <p>Total Amount</p>
                  <p>$150</p>
                </div>
                <div class="th width-fill">
                  <p>Shipped To</p>
                  <p>Lindsay Giguere</p>
                </div>
                <div class="th width-fill">
                  <p>Order Number</p>
                  <p>#113-256-569-896</p>
                </div>
              </div>
              <div class="tr width-fill">
                <div class="td" colspan="4">
                  <div class="order-content width-fill">
                    <div>
                      <img src="./asset/product3.jpg" alt="{{ alt_text }}">
                      <div class="width-fill">
                        <p style="display: flex"><i>Status:</i> In Transit, Estimated Arrival Date March 20, 2023</p>
                        <p>Washable Othopedic Dog Bed, Waterproof with Nonskid Buttom</p>
                      </div>
                    </div>
                    <div class="button-group width-fill">
                      <button class="width-fill">Buy It Again</button>
                      <button class="inactive width-fill">Return Item</button>
                      <button class="inactive width-fill">Write a Product Review</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
