{% assign img_account_center_address_book = 'https://cdn.shopify.com/s/files/1/0068/5454/1410/files/felicitails-account-center-address-book-felicitails-founded-by-lindsay-giguiere.png?v=1685640384' %}
{% assign alt_account_center_address_book = 'felicitails-account-center-address-book-felicitails-founded-by-lindsay-giguiere' %}

<div class="account-main-body">
  <div class="account-main-items">
    <div class="account-main-digitalvault">
      <div class="account-main-item-title">
        <h1>ADDRESS BOOK</h1>
      </div>
      <div class="account-main-item-image">
        <img
          src="{{ img_account_center_address_book }}"
          alt="{{ alt_account_center_address_book }}"
        >
      </div>
    </div>
    <div class="account-address-body width-fill">
      <div class="account-cards width-fill">
        <div class="account-card add">
          <div class="add-address">
            <span class="add">+</span>
            <h4 class="text">Add address</h4>
          </div>
        </div>
        <div class="account-card default">
          <div class="width-fill height-fill card-content">
            <div class="card-header">
              <button>Default</button>
            </div>
            <div class="card-body">
              <div class="header">Lindsay Giguere</div>
              <div class="body">
                <p>First Name Last Name</p>
                <p>Address 1</p>
                <p>Address 2</p>
                <p>City, State, Zip</p>
                <p>Country</p>
                <p>Contact Number</p>
              </div>
            </div>
            <div class="card-footer">
              <p class="width-fill"><a href="#">Edit</a> | <a href="#">Remove</a></p>
            </div>
          </div>
        </div>
        <div class="account-card">
          <div class="width-fill height-fill card-content">
            <div class="card-body">
              <div class="header">First Name Last Name</div>
              <div class="body">
                <p>Address 1</p>
                <p>Address 2</p>
                <p>City, State, Zip</p>
                <p>Country</p>
                <p>Contact Number</p>
              </div>
            </div>
            <div class="width-fill card-footer">
              <p class="width-fill">
                <a href="#">Edit</a> | <a href="#">Remove</a> |
                <a href="#">Set as Default</a>
              </p>
            </div>
          </div>
        </div>
        <div class="account-card">
          <div class="width-fill height-fill card-content">
            <div class="card-body">
              <div class="header">First Name Last Name</div>
              <div class="body">
                <p>Address 1</p>
                <p>Address 2</p>
                <p>City, State, Zip</p>
                <p>Country</p>
                <p>Contact Number</p>
              </div>
            </div>
            <div class="width-fill card-footer">
              <p class="width-fill">
                <a href="#">Edit</a> | <a href="#">Remove</a> |
                <a href="#">Set as Default</a>
              </p>
            </div>
          </div>
        </div>
        <div class="account-card">
          <div class="width-fill height-fill card-content">
            <div class="card-body">
              <div class="header">First Name Last Name</div>
              <div class="body">
                <p>Address 1</p>
                <p>Address 2</p>
                <p>City, State, Zip</p>
                <p>Country</p>
                <p>Contact Number</p>
              </div>
            </div>
            <div class="width-fill card-footer">
              <p class="width-fill">
                <a href="#">Edit</a> | <a href="#">Remove</a> |
                <a href="#">Set as Default</a>
              </p>
            </div>
          </div>
        </div>
        <div class="account-card">
          <div class="width-fill height-fill card-content">
            <div class="card-body">
              <div class="header">First Name Last Name</div>
              <div class="body">
                <p>Address 1</p>
                <p>Address 2</p>
                <p>City, State, Zip</p>
                <p>Country</p>
                <p>Contact Number</p>
              </div>
            </div>
            <div class="width-fill card-footer">
              <p class="width-fill">
                <a href="#">Edit</a> | <a href="#">Remove</a> |
                <a href="#">Set as Default</a>
              </p>
            </div>
          </div>
        </div>
        <div class="account-card">
          <div class="width-fill height-fill card-content">
            <div class="card-body">
              <div class="header">First Name Last Name</div>
              <div class="body">
                <p>Address 1</p>
                <p>Address 2</p>
                <p>City, State, Zip</p>
                <p>Country</p>
                <p>Contact Number</p>
              </div>
            </div>
            <div class="width-fill card-footer">
              <p class="width-fill">
                <a href="#">Edit</a> | <a href="#">Remove</a> |
                <a href="#">Set as Default</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
